
			
			#nav{
				clear: both;

				
				

			} 


			#nav a {
				display: block;
				width: 100%;
				max-width: 500px;
				height: 30px;
				background-color: #fff;
				text-decoration: none;
				font-weight: bold;
				padding: 10px 15px;
				color: red;
			}

			#nav a:hover {
    			background-color: #EDEDED;
    		}

    

			
			#nav ul{
				padding:0px 20px;
				list-style: none;


			}

			#nav ul li{

				text-align: center;
				font-size: 17px;
				display: inline;
				float: left;
			}
			

			#footer{
				border-top:1px solid #999;
				border-width: 400px;
				text-align:center;
				clear: both;

			}

			#wrapper{
				width:70%;
				max-width: 800px;
				height:auto;
				margin:20px auto;
				background-color:#fff;
				
				margin-top: 40px;
			}

			main{
				clear: both;
				text-align: center;
			}


